body {
    margin: 0;
    background: radial-gradient(48.43% 48.43% at 50% 50%, #FEFFFD 0%, #F0C985 44.48%);
    position: relative;
}

.nav-menu {
    border-width: 1px;
    border-bottom-width: 2px;
    border-style: solid;
    border-color: black;
    height: 40px;
}


/*navbar*/

nav {
    display: flex;
    align-items: center;
    border-radius: none;
    border: 2px;
    border-color: black;
    justify-content: space-between;
    height: 25px;
    position: relative;
}

li {
    list-style: none;
    text-decoration: none;
    color: black;
    padding-right: 20px;
}

ul {
    display: flex;
}

.nav-img,
.icon {
    height: 25px;
    margin-right: 20px;
}

.icon-img {
    height: x;
    position: relative;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.drop-down {
    opacity: 0;
}

.drop-down:hover {
    opacity: 1;
}

a {
    text-decoration: none;
    color: black;
}

.icon-img .drop-down {
    position: absolute;
    top: 39px;
    width: 130px;
    right: 0px;
    line-height: 35px;
    background-color: white;
    padding-left: 10px;
}

header {
    margin-top: 23px;
}


/*body*/

.apple-img {
    width: 550px;
    height: 150px;
    margin-top: 120px;
    margin-left: 360px;
    position: relative;
}

.apple-can-img {
    width: 140px;
    height: 270px;
    position: absolute;
    top: 130px;
    left: 555px;
}

.orange-bot {
    width: 150px;
    margin-bottom: 25px;
}

.bot-img {
    position: absolute;
    bottom: -155px;
}

.orange-bot {
    width: 140px;
    position: absolute;
    left: 555px;
    bottom: -316px;
}

.straw-bot {
    width: 140px;
    position: absolute;
    left: 555px;
    top: -25px;
}

.right {
    margin-right: 15px;
    height: 20px;
}